__pycache__/
*.py[cod]
.env

# Virtual Environment
fashion/

# SQLite database
db.sqlite3

# Django migrations
*/migrations/*.py
*/migrations/*.pyc

# medias
*.JPG
*.jpeg
medias/
# IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
client.http
category.txt
task_to_do.txt
check.html