<!-- Children's Section -->
<div class="relative group">
  <button class="text-gray-700 font-medium hover:text-gray-900">Children's</button>

  <!-- Dropdown Menu for Children's -->
  <div class="dropdown-menu">
      <div class="dropdown-item relative group">
          <a href="{% url 'home' %}?category=modern-children" class="hover:text-blue-500 cursor-pointer">Modern (Western)</a>
          <div class="submenu">
              <div class="dropdown-item relative group">
                  <a href="{% url 'home' %}?category=dresses-children" class="hover:text-blue-500 cursor-pointer">Dresses</a>
                  <div class="submenu">
                      <a href="{% url 'home' %}?category=casual-dresses-children" class="hover:text-blue-500 cursor-pointer">Casual Dresses</a>
                      <a href="{% url 'home' %}?category=party-dresses-children" class="hover:text-blue-500 cursor-pointer">Party Dresses</a>
                  </div>
              </div>
              <div class="dropdown-item relative group">
                  <a href="{% url 'home' %}?category=tops-children" class="hover:text-blue-500 cursor-pointer">Tops</a>
                  <div class="submenu">
                      <a href="{% url 'home' %}?category=tshirts-children" class="hover:text-blue-500 cursor-pointer">T-Shirts</a>
                      <a href="{% url 'home' %}?category=sweaters-children" class="hover:text-blue-500 cursor-pointer">Sweaters</a>
                  </div>
              </div>
              <div class="dropdown-item relative group">
                  <a href="{% url 'home' %}?category=bottoms-children" class="hover:text-blue-500 cursor-pointer">Bottoms</a>
                  <div class="submenu">
                      <a href="{% url 'home' %}?category=pants-children" class="hover:text-blue-500 cursor-pointer">Pants</a>
                      <a href="{% url 'home' %}?category=shorts-children" class="hover:text-blue-500 cursor-pointer">Shorts</a>
                      <a href="{% url 'home' %}?category=skirts-children" class="hover:text-blue-500 cursor-pointer">Skirts</a>
                  </div>
              </div>
              <div class="dropdown-item relative group">
                  <a href="{% url 'home' %}?category=outerwear-children" class="hover:text-blue-500 cursor-pointer">Outerwear</a>
                  <div class="submenu">
                      <a href="{% url 'home' %}?category=jackets-children" class="hover:text-blue-500 cursor-pointer">Jackets</a>
                      <a href="{% url 'home' %}?category=coats-children" class="hover:text-blue-500 cursor-pointer">Coats</a>
                  </div>
              </div>
              <div class="dropdown-item relative group">
                  <a href="{% url 'home' %}?category=activewear-children" class="hover:text-blue-500 cursor-pointer">Activewear</a>
                  <div class="submenu">
                      <a href="{% url 'home' %}?category=sportswear-children" class="hover:text-blue-500 cursor-pointer">Sportswear</a>
                  </div>
              </div>
              <div class="dropdown-item relative group">
                  <a href="{% url 'home' %}?category=footwear-children" class="hover:text-blue-500 cursor-pointer">Footwear</a>
                  <div class="submenu">
                      <a href="{% url 'home' %}?category=sneakers-children" class="hover:text-blue-500 cursor-pointer">Sneakers</a>
                      <a href="{% url 'home' %}?category=dress-shoes-children" class="hover:text-blue-500 cursor-pointer">Dress Shoes</a>
                  </div>
              </div>
              <div class="dropdown-item relative group">
                  <a href="{% url 'home' %}?category=special-occasion-children" class="hover:text-blue-500 cursor-pointer">Special Occasion</a>
                  <div class="submenu">
                      <a href="{% url 'home' %}?category=themed-costumes-children" class="hover:text-blue-500 cursor-pointer">Themed Costumes</a>
                      <a href="{% url 'home' %}?category=party-wear-children" class="hover:text-blue-500 cursor-pointer">Party Wear</a>
                  </div>
              </div>
          </div>
      </div>

            <div class="dropdown-item relative group mt-2">
          <a href="{% url 'home' %}?category=traditional-children" class="hover:text-blue-500 cursor-pointer">Traditional (Local)</a>
          <div class="submenu">
              <div class="dropdown-item relative group">
                  <a href="{% url 'home' %}?category=oromo-children" class="hover:text-blue-500 cursor-pointer">Oromo</a>
                  <div class="submenu">
                      <a href="{% url 'home' %}?category=oromo-clothing-children" class="hover:text-blue-500 cursor-pointer">Traditional Clothing</a>
                      <a href="{% url 'home' %}?category=oromo-footwear-children" class="hover:text-blue-500 cursor-pointer">Traditional Footwear</a>
                      <a href="{% url 'home' %}?category=oromo-accessories-children" class="hover:text-blue-500 cursor-pointer">Traditional Accessories</a>
                  </div>
              </div>
              <div class="dropdown-item relative group">
                  <a href="{% url 'home' %}?category=amhara-children" class="hover:text-blue-500 cursor-pointer">Amhara</a>
                  <div class="submenu">
                      <a href="{% url 'home' %}?category=amhara-clothing-children" class="hover:text-blue-500 cursor-pointer">Traditional Clothing</a>
                      <a href="{% url 'home' %}?category=amhara-footwear-children" class="hover:text-blue-500 cursor-pointer">Traditional Footwear</a>
                      <a href="{% url 'home' %}?category=amhara-accessories-mechildrenn" class="hover:text-blue-500 cursor-pointer">Traditional Accessories</a>
                  </div>
              </div>
              <div class="dropdown-item relative group">
                  <a href="{% url 'home' %}?category=tigray-children" class="hover:text-blue-500 cursor-pointer">Tigray</a>
                  <div class="submenu">
                      <a href="{% url 'home' %}?category=tigray-clothing-children" class="hover:text-blue-500 cursor-pointer">Traditional Clothing</a>
                      <a href="{% url 'home' %}?category=tigray-footwear-children" class="hover:text-blue-500 cursor-pointer">Traditional Footwear</a>
                      <a href="{% url 'home' %}?category=tigray-accessories-children" class="hover:text-blue-500 cursor-pointer">Traditional Accessories</a>
                  </div>
              </div>
              <div class="dropdown-item relative group">
                  <a href="{% url 'home' %}?category=afar-children" class="hover:text-blue-500 cursor-pointer">Afar</a>
                  <div class="submenu">
                      <a href="{% url 'home' %}?category=afar-clothing-children" class="hover:text-blue-500 cursor-pointer">Traditional Clothing</a>
                      <a href="{% url 'home' %}?category=afar-footwear-children" class="hover:text-blue-500 cursor-pointer">Traditional Footwear</a>
                      <a href="{% url 'home' %}?category=afar-accessories-children" class="hover:text-blue-500 cursor-pointer">Traditional Accessories</a>
                  </div>
              </div>
              <div class="dropdown-item relative group">
                  <a href="{% url 'home' %}?category=snn-children" class="hover:text-blue-500 cursor-pointer">SNNP</a>
                  <div class="submenu">
                      <a href="{% url 'home' %}?category=snn_clothing-children" class="hover:text-blue-500 cursor-pointer">Traditional Clothing</a>
                      <a href="{% url 'home' %}?category=snn_footwear-children" class="hover:text-blue-500 cursor-pointer">Traditional Footwear</a>
                      <a href="{% url 'home' %}?category=snn_accessories-children" class="hover:text-blue-500 cursor-pointer">Traditional Accessories</a>
                  </div>
              </div>
              <div class="dropdown-item relative group">
                  <a href="{% url 'home' %}?category=somali-children" class="hover:text-blue-500 cursor-pointer">Somali</a>
                  <div class="submenu">
                      <a href="{% url 'home' %}?category=somali-clothing-children" class="hover:text-blue-500 cursor-pointer">Traditional Clothing</a>
                      <a href="{% url 'home' %}?category=somali-footwear-children" class="hover:text-blue-500 cursor-pointer">Traditional Footwear</a>
                      <a href="{% url 'home' %}?category=somali-accessories-children" class="hover:text-blue-500 cursor-pointer">Traditional Accessories</a>
                  </div>
              </div>
              <div class="dropdown-item relative group">
                  <a href="{% url 'home' %}?category=gambella-children" class="hover:text-blue-500 cursor-pointer">Gambella</a>
                  <div class="submenu">
                      <a href="{% url 'home' %}?category=gambella-clothing-children" class="hover:text-blue-500 cursor-pointer">Traditional Clothing</a>
                      <a href="{% url 'home' %}?category=gambella-footwear-children" class="hover:text-blue-500 cursor-pointer">Traditional Footwear</a>
                      <a href="{% url 'home' %}?category=gambella-accessories-children" class="hover:text-blue-500 cursor-pointer">Traditional Accessories</a>
                  </div>
              </div>
              <div class="dropdown-item relative group">
                  <a href="{% url 'home' %}?category=harari-children" class="hover:text-blue-500 cursor-pointer">Harari</a>
                  <div class="submenu">
                      <a href="{% url 'home' %}?category=harari-clothing-children" class="hover:text-blue-500 cursor-pointer">Traditional Clothing</a>
                      <a href="{% url 'home' %}?category=harari-footwear-children" class="hover:text-blue-500 cursor-pointer">Traditional Footwear</a>
                      <a href="{% url 'home' %}?category=harari-accessories-children" class="hover:text-blue-500 cursor-pointer">Traditional Accessories</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>