{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Forgot Password</title>
   <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
   <link rel="stylesheet" href="{% static 'css/common.css' %}?v=1"> <!-- Updated link -->
</head>
<body>
   <div class="wrapper">
       <div class="box reset-password-box">
           <div class="header reset-password-header">Forgot Password</div>
           <form method="POST" action="{% url 'forgot_password' %}">
               {% csrf_token %}
               
               <div class="input-box">
                   <input type="email" id="email" class="input-field {% if form.email.errors %}error{% endif %}" name="email" required>
                   <label for="email" class="label">Email</label>
                   {% if form.email.errors %}
                       <div class="error-message">{{ form.email.errors.0 }}</div>
                   {% endif %}
               </div>
               
               <button type="submit" class="input-submit">Send Reset Link</button>
               
               <div class="success">
                   {% if messages %}
                       {% for message in messages %}
                           {{ message }}
                       {% endfor %}
                   {% endif %}
               </div>
           </form>
           <a href="{% url 'login' %}" class="link">Back to Login</a>
       </div>
   </div>
</body>
</html>