{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Password Reset</title>
   <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
   <link rel="stylesheet" href="{% static 'css/common.css' %}?v=1"> <!-- Updated link -->
</head>
<body>
   <div class="wrapper">
       <div class="box reset-password-box">
           <div class="header reset-password-header">Reset Your Password</div>
           <form method="POST" action="{% url 'reset_password' uidb64=uidb64 token=token %}">
               {% csrf_token %}
               
               <div class="input-box">
                   <input type="password" id="new_password1" class="input-field {% if form.new_password1.errors %}error{% endif %}" name="new_password1" required>
                   <label for="new_password1" class="label">New Password</label>
                   {% if form.new_password1.errors %}
                       <div class="error-message">{{ form.new_password1.errors.0 }}</div>
                   {% endif %}
               </div>

               <div class="input-box">
                   <input type="password" id="new_password2" class="input-field {% if form.new_password2.errors %}error{% endif %}" name="new_password2" required>
                   <label for="new_password2" class="label">Confirm New Password</label>
                   {% if form.new_password2.errors %}
                       <div class="error-message">{{ form.new_password2.errors.0 }}</div>
                   {% endif %}
               </div>
               
               <button type="submit" class="input-submit">Submit</button>
               
               <div class="success">
                   {% if messages %}
                       {% for message in messages %}
                           {{ message }}
                       {% endfor %}
                   {% endif %}
               </div>
           </form>
           <a href="{% url 'login' %}" class="link">Back to Login</a>
       </div>
   </div>
</body>
</html>