<div class="relative group">
  <button class="text-gray-700 font-medium hover:text-gray-900">Women's</button>

  <!-- Dropdown Menu for Women's -->
  <div class="dropdown-menu">
      <div class="dropdown-item relative">
          <a href="{% url 'home' %}?category=modern-women" class="hover:text-blue-500 cursor-pointer">Modern (Western)</a>
          <!-- Sub-menu for Modern -->
          <div class="submenu">
              <div class="dropdown-item relative">
                  <a href="{% url 'home' %}?category=dresses-women" class="hover:text-blue-500 cursor-pointer">Dresses</a>
                  <div class="submenu">
                      <a href="{% url 'home' %}?category=formal-dresses-women" class="hover:text-blue-500 cursor-pointer">Formal Dresses</a>
                      <a href="{% url 'home' %}?category=casual-dresses-women" class="hover:text-blue-500 cursor-pointer">Casual Dresses</a>
                      <a href="{% url 'home' %}?category=evening-gowns-women" class="hover:text-blue-500 cursor-pointer">Evening Gowns</a>
                      <a href="{% url 'home' %}?category=summer-dresses-women" class="hover:text-blue-500 cursor-pointer">Summer Dresses</a>
                  </div>
              </div>
              <div class="dropdown-item relative">
                  <a href="{% url 'home' %}?category=tops" class="hover:text-blue-500 cursor-pointer">Tops</a>
                  <div class="submenu">
                      <a href="{% url 'home' %}?category=tshirts-women" class="hover:text-blue-500 cursor-pointer">T-Shirts</a>
                      <a href="{% url 'home' %}?category=blouses-women" class="hover:text-blue-500 cursor-pointer">Blouses</a>
                      <a href="{% url 'home' %}?category=sweaters-women" class="hover:text-blue-500 cursor-pointer">Sweaters</a>
                      <a href="{% url 'home' %}?category=tank_tops-women" class="hover:text-blue-500 cursor-pointer">Tank Tops</a>
                  </div>
              </div>
              <div class="dropdown-item relative">
                  <a href="{% url 'home' %}?category=bottoms-women" class="hover:text-blue-500 cursor-pointer">Bottoms</a>
                  <div class="submenu">
                      <a href="{% url 'home' %}?category=pants-women" class="hover:text-blue-500 cursor-pointer">Pants</a>
                      <a href="{% url 'home' %}?category=skirts-women" class="hover:text-blue-500 cursor-pointer">Skirts</a>
                      <a href="{% url 'home' %}?category=shorts-women" class="hover:text-blue-500 cursor-pointer">Shorts</a>
                      <a href="{% url 'home' %}?category=jeans-women" class="hover:text-blue-500 cursor-pointer">Jeans</a>
                  </div>
              </div>
              <div class="dropdown-item relative">
                  <a href="{% url 'home' %}?category=outerwear-women" class="hover:text-blue-500 cursor-pointer">Outerwear</a>
                  <div class="submenu">
                      <a href="{% url 'home' %}?category=jackets-women" class="hover:text-blue-500 cursor-pointer">Jackets</a>
                      <a href="{% url 'home' %}?category=coats-women" class="hover:text-blue-500 cursor-pointer">Coats</a>
                      <a href="{% url 'home' %}?category=blazers-women" class="hover:text-blue-500 cursor-pointer">Blazers</a>
                      <a href="{% url 'home' %}?category=cardigans-women" class="hover:text-blue-500 cursor-pointer">Cardigans</a>
                  </div>
              </div>
              <div class="dropdown-item relative">
                  <a href="{% url 'home' %}?category=activewear-women" class="hover:text-blue-500 cursor-pointer">Activewear</a>
                  <div class="submenu">
                      <a href="{% url 'home' %}?category=sports-bras-women" class="hover:text-blue-500 cursor-pointer">Sports Bras</a>
                      <a href="{% url 'home' %}?category=leggings-women" class="hover:text-blue-500 cursor-pointer">Leggings</a>
                      <a href="{% url 'home' %}?category=workout-tops-women" class="hover:text-blue-500 cursor-pointer">Workout Tops</a>
                      <a href="{% url 'home' %}?category=tracksuits-women" class="hover:text-blue-500 cursor-pointer">Tracksuits</a>
                  </div>
              </div>
              <div class="dropdown-item relative">
                  <a href="{% url 'home' %}?category=accessories-women" class="hover:text-blue-500 cursor-pointer">Accessories</a>
                  <div class="submenu">
                      <a href="{% url 'home' %}?category=scarves-women" class="hover:text-blue-500 cursor-pointer">Scarves</a>
                      <a href="{% url 'home' %}?category=hats-women" class="hover:text-blue-500 cursor-pointer">Hats</a>
                      <a href="{% url 'home' %}?category=bags-women" class="hover:text-blue-500 cursor-pointer">Bags</a>
                      <a href="{% url 'home' %}?category=jewelry-women" class="hover:text-blue-500 cursor-pointer">Jewelry</a>
                  </div>
              </div>
              <div class="dropdown-item relative">
                  <a href="{% url 'home' %}?category=footwear-women" class="hover:text-blue-500 cursor-pointer">Footwear</a>
                  <div class="submenu">
                      <a href="{% url 'home' %}?category=sneakers-women" class="hover:text-blue-500 cursor-pointer">Sneakers</a>
                      <a href="{% url 'home' %}?category=heels-women" class="hover:text-blue-500 cursor-pointer">Heels</a>
                      <a href="{% url 'home' %}?category=flats-women" class="hover:text-blue-500 cursor-pointer">Flats</a>
                      <a href="{% url 'home' %}?category=boots-women" class="hover:text-blue-500 cursor-pointer">Boots</a>
                  </div>
              </div>
              <div class="dropdown-item relative">
                  <a href="{% url 'home' %}?category=special_occasion-women" class="hover:text-blue-500 cursor-pointer">Special Occasion</a>
                  <div class="submenu">
                      <a href="{% url 'home' %}?category=wedding-attire-women" class="hover:text-blue-500 cursor-pointer">Wedding Attire</a>
                      <a href="{% url 'home' %}?category=party-wear-women" class="hover:text-blue-500 cursor-pointer">Party Wear</a>
                      <a href="{% url 'home' %}?category=holiday-outfits-women" class="hover:text-blue-500 cursor-pointer">Holiday Outfits</a>
                      <a href="{% url 'home' %}?category=costumes-women" class="hover:text-blue-500 cursor-pointer">Costumes</a>
                  </div>
              </div>
              <div class="dropdown-item relative">
                  <a href="{% url 'home' %}?category=sustainable-fashion-women" class="hover:text-blue-500 cursor-pointer">Sustainable Fashion</a>
                  <div class="submenu">
                      <a href="{% url 'home' %}?category=eco-friendly-brands-women" class="hover:text-blue-500 cursor-pointer">Eco-Friendly Brands</a>
                      <a href="{% url 'home' %}?category=vintage-clothing-women" class="hover:text-blue-500 cursor-pointer">Vintage Clothing</a>
                      <a href="{% url 'home' %}?category=upcycled-items-women" class="hover:text-blue-500 cursor-pointer">Upcycled Items</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="dropdown-item relative mt-2">
          <a href="{% url 'home' %}?category=traditional-women" class="hover:text-blue-500 cursor-pointer">Traditional (Local)</a>
          <!-- Sub-menu for Traditional -->
          <div class="submenu">
              <div class="dropdown-item relative">
                  <a href="{% url 'home' %}?category=oromo-women" class="hover:text-blue-500 cursor-pointer">Oromo</a>
                  <div class="submenu">
                      <a href="{% url 'home' %}?category=oromo-clothing-women" class="hover:text-blue-500 cursor-pointer">Traditional Clothing</a>
                      <a href="{% url 'home' %}?category=oromo-footwear-women" class="hover:text-blue-500 cursor-pointer">Traditional Footwear</a>
                      <a href="{% url 'home' %}?category=oromo-accessories-women" class="hover:text-blue-500 cursor-pointer">Traditional Accessories</a>
                  </div>
              </div>
              <div class="dropdown-item relative">
                  <a href="{% url 'home' %}?category=amhara-women" class="hover:text-blue-500 cursor-pointer">Amhara</a>
                  <div class="submenu">
                      <a href="{% url 'home' %}?category=amhara-clothing-women" class="hover:text-blue-500 cursor-pointer">Traditional Clothing</a>
                      <a href="{% url 'home' %}?category=amhara-footwear-women" class="hover:text-blue-500 cursor-pointer">Traditional Footwear</a>
                      <a href="{% url 'home' %}?category=amhara-accessories-women" class="hover:text-blue-500 cursor-pointer">Traditional Accessories</a>
                  </div>
              </div>
              <div class="dropdown-item relative">
                  <a href="{% url 'home' %}?category=tigray-women" class="hover:text-blue-500 cursor-pointer">Tigray</a>
                  <div class="submenu">
                      <a href="{% url 'home' %}?category=tigray-clothing-women" class="hover:text-blue-500 cursor-pointer">Traditional Clothing</a>
                      <a href="{% url 'home' %}?category=tigray-footwear-women" class="hover:text-blue-500 cursor-pointer">Traditional Footwear</a>
                      <a href="{% url 'home' %}?category=tigray-accessories-women" class="hover:text-blue-500 cursor-pointer">Traditional Accessories</a>
                  </div>
              </div>
              <div class="dropdown-item relative">
                  <a href="{% url 'home' %}?category=afar-women" class="hover:text-blue-500 cursor-pointer">Afar</a>
                  <div class="submenu">
                      <a href="{% url 'home' %}?category=afar-clothing-women" class="hover:text-blue-500 cursor-pointer">Traditional Clothing</a>
                      <a href="{% url 'home' %}?category=afar-footwear-women" class="hover:text-blue-500 cursor-pointer">Traditional Footwear</a>
                      <a href="{% url 'home' %}?category=afar-accessories-women" class="hover:text-blue-500 cursor-pointer">Traditional Accessories</a>
                  </div>
              </div>
              <div class="dropdown-item relative">
                  <a href="{% url 'home' %}?category=snn-women" class="hover:text-blue-500 cursor-pointer">SNNP</a>
                  <div class="submenu">
                      <a href="{% url 'home' %}?category=snn-clothing-women" class="hover:text-blue-500 cursor-pointer">Traditional Clothing</a>
                      <a href="{% url 'home' %}?category=snn-footwear-women" class="hover:text-blue-500 cursor-pointer">Traditional Footwear</a>
                      <a href="{% url 'home' %}?category=snn-accessories-women" class="hover:text-blue-500 cursor-pointer">Traditional Accessories</a>
                  </div>
              </div>
              <div class="dropdown-item relative">
                  <a href="{% url 'home' %}?category=somali-women" class="hover:text-blue-500 cursor-pointer">Somali</a>
                  <div class="submenu">
                      <a href="{% url 'home' %}?category=somali-clothing-women" class="hover:text-blue-500 cursor-pointer">Traditional Clothing</a>
                      <a href="{% url 'home' %}?category=somali-footwear-women" class="hover:text-blue-500 cursor-pointer">Traditional Footwear</a>
                      <a href="{% url 'home' %}?category=somali-accessories-women" class="hover:text-blue-500 cursor-pointer">Traditional Accessories</a>
                  </div>
              </div>
              <div class="dropdown-item relative">
                  <a href="{% url 'home' %}?category=gambella-women" class="hover:text-blue-500 cursor-pointer">Gambella</a>
                  <div class="submenu">
                      <a href="{% url 'home' %}?category=gambella-clothing-women" class="hover:text-blue-500 cursor-pointer">Traditional Clothing</a>
                      <a href="{% url 'home' %}?category=gambella-footwear-women" class="hover:text-blue-500 cursor-pointer">Traditional Footwear</a>
                      <a href="{% url 'home' %}?category=gambella-accessories-women" class="hover:text-blue-500 cursor-pointer">Traditional Accessories</a>
                  </div>
              </div>
              <div class="dropdown-item relative">
                  <a href="{% url 'home' %}?category=harari-women" class="hover:text-blue-500 cursor-pointer">Harari</a>
                  <div class="submenu">
                      <a href="{% url 'home' %}?category=harari-clothing-women" class="hover:text-blue-500 cursor-pointer">Traditional Clothing</a>
                      <a href="{% url 'home' %}?category=harari-footwear-women" class="hover:text-blue-500 cursor-pointer">Traditional Footwear</a>
                      <a href="{% url 'home' %}?category=harari-accessories-women" class="hover:text-blue-500 cursor-pointer">Traditional Accessories</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>