<!-- Men's Section -->
<div class="relative group">
  <button class="text-gray-700 font-medium hover:text-gray-900">Men's</button>

  <!-- Dropdown Menu for Men's -->
  <div class="dropdown-menu">
      <div class="dropdown-item relative group">
          <a href="{% url 'home_list' %}?category=modern-men" class="hover:text-blue-500 cursor-pointer">Modern (Western)</a>
          <div class="submenu">
              <div class="dropdown-item relative group">
                  <a href="{% url 'home_list' %}?category=suits-formal-wear-men" class="hover:text-blue-500 cursor-pointer">Suits & Formal Wear</a>
                  <div class="submenu">
                      <a href="{% url 'home_list' %}?category=suits-men" class="hover:text-blue-500 cursor-pointer">Suits</a>
                      <a href="{% url 'home_list' %}?category=dress-shirts-men" class="hover:text-blue-500 cursor-pointer">Dress Shirts</a>
                  </div>
              </div>
              <div class="dropdown-item relative group">
                  <a href="{% url 'home_list' %}?category=tops-men" class="hover:text-blue-500 cursor-pointer">Tops</a>
                  <div class="submenu">
                      <a href="{% url 'home_list' %}?category=tshirts-men" class="hover:text-blue-500 cursor-pointer">T-Shirts</a>
                      <a href="{% url 'home_list' %}?category=casual-shirts-men" class="hover:text-blue-500 cursor-pointer">Casual Shirts</a>
                  </div>
              </div>
              <div class="dropdown-item relative group">
                  <a href="{% url 'home_list' %}?category=bottoms-men" class="hover:text-blue-500 cursor-pointer">Bottoms</a>
                  <div class="submenu">
                      <a href="{% url 'home_list' %}?category=pants-men" class="hover:text-blue-500 cursor-pointer">Pants</a>
                      <a href="{% url 'home_list' %}?category=shorts-men" class="hover:text-blue-500 cursor-pointer">Shorts</a>
                      <a href="{% url 'home_list' %}?category=jeans-men" class="hover:text-blue-500 cursor-pointer">Jeans</a>
                  </div>
              </div>
              <div class="dropdown-item relative group">
                  <a href="{% url 'home_list' %}?category=outerwear-men" class="hover:text-blue-500 cursor-pointer">Outerwear</a>
                  <div class="submenu">
                      <a href="{% url 'home_list' %}?category=jackets-men" class="hover:text-blue-500 cursor-pointer">Jackets</a>
                      <a href="{% url 'home_list' %}?category=coats-men" class="hover:text-blue-500 cursor-pointer">Coats</a>
                      <a href="{% url 'home_list' %}?category=blazers-men" class="hover:text-blue-500 cursor-pointer">Blazers</a>
                  </div>
              </div>
              <div class="dropdown-item relative group">
                  <a href="{% url 'home_list' %}?category=activewear-men" class="hover:text-blue-500 cursor-pointer">Activewear</a>
                  <div class="submenu">
                      <a href="{% url 'home_list' %}?category=track-pants-men" class="hover:text-blue-500 cursor-pointer">Track Pants</a>
                      <a href="{% url 'home_list' %}?category=sports-jerseys-men" class="hover:text-blue-500 cursor-pointer">Sports Jerseys</a>
                  </div>
              </div>
              <div class="dropdown-item relative group">
                  <a href="{% url 'home_list' %}?category=accessories-men" class="hover:text-blue-500 cursor-pointer">Accessories</a>
                  <div class="submenu">
                      <a href="{% url 'home_list' %}?category=ties-men" class="hover:text-blue-500 cursor-pointer">Ties</a>
                      <a href="{% url 'home_list' %}?category=belts-men" class="hover:text-blue-500 cursor-pointer">Belts</a>
                      <a href="{% url 'home_list' %}?category=bags-men" class="hover:text-blue-500 cursor-pointer">Bags</a>
                  </div>
              </div>
              <div class="dropdown-item relative group">
                  <a href="{% url 'home_list' %}?category=footwear-men" class="hover:text-blue-500 cursor-pointer">Footwear</a>
                  <div class="submenu">
                      <a href="{% url 'home_list' %}?category=dress-shoes-men" class="hover:text-blue-500 cursor-pointer">Dress Shoes</a>
                      <a href="{% url 'home_list' %}?category=sneakers-men" class="hover:text-blue-500 cursor-pointer">Sneakers</a>
                  </div>
              </div>
              <div class="dropdown-item relative group">
                  <a href="{% url 'home_list' %}?category=special-occasion-men" class="hover:text-blue-500 cursor-pointer">Special Occasion</a>
                  <div class="submenu">
                      <a href="{% url 'home_list' %}?category=wedding-attire-men" class="hover:text-blue-500 cursor-pointer">Wedding Attire</a>
                      <a href="{% url 'home_list' %}?category=party-wear-men" class="hover:text-blue-500 cursor-pointer">Party Wear</a>
                  </div>
              </div>
          </div>
      </div>

      <div class="dropdown-item relative group mt-2">
          <a href="{% url 'home_list' %}?category=traditional-men" class="hover:text-blue-500 cursor-pointer">Traditional (Local)</a>
          <div class="submenu">
              <div class="dropdown-item relative group">
                  <a href="{% url 'home_list' %}?category=oromo-men" class="hover:text-blue-500 cursor-pointer">Oromo</a>
                  <div class="submenu">
                      <a href="{% url 'home_list' %}?category=oromo-clothing-men" class="hover:text-blue-500 cursor-pointer">Traditional Clothing</a>
                      <a href="{% url 'home_list' %}?category=oromo-footwear-men" class="hover:text-blue-500 cursor-pointer">Traditional Footwear</a>
                      <a href="{% url 'home_list' %}?category=oromo-accessories-men" class="hover:text-blue-500 cursor-pointer">Traditional Accessories</a>
                  </div>
              </div>
              <div class="dropdown-item relative group">
                  <a href="{% url 'home_list' %}?category=amhara-men" class="hover:text-blue-500 cursor-pointer">Amhara</a>
                  <div class="submenu">
                      <a href="{% url 'home_list' %}?category=amhara-clothing-men" class="hover:text-blue-500 cursor-pointer">Traditional Clothing</a>
                      <a href="{% url 'home_list' %}?category=amhara-footwear-men" class="hover:text-blue-500 cursor-pointer">Traditional Footwear</a>
                      <a href="{% url 'home_list' %}?category=amhara-accessories-men" class="hover:text-blue-500 cursor-pointer">Traditional Accessories</a>
                  </div>
              </div>
              <div class="dropdown-item relative group">
                  <a href="{% url 'home_list' %}?category=tigray-men" class="hover:text-blue-500 cursor-pointer">Tigray</a>
                  <div class="submenu">
                      <a href="{% url 'home_list' %}?category=tigray-clothing-men" class="hover:text-blue-500 cursor-pointer">Traditional Clothing</a>
                      <a href="{% url 'home_list' %}?category=tigray-footwear-men" class="hover:text-blue-500 cursor-pointer">Traditional Footwear</a>
                      <a href="{% url 'home_list' %}?category=tigray-accessories-men" class="hover:text-blue-500 cursor-pointer">Traditional Accessories</a>
                  </div>
              </div>
              <div class="dropdown-item relative group">
                  <a href="{% url 'home_list' %}?category=afar-men" class="hover:text-blue-500 cursor-pointer">Afar</a>
                  <div class="submenu">
                      <a href="{% url 'home_list' %}?category=afar-clothing-men" class="hover:text-blue-500 cursor-pointer">Traditional Clothing</a>
                      <a href="{% url 'home_list' %}?category=afar-footwear-men" class="hover:text-blue-500 cursor-pointer">Traditional Footwear</a>
                      <a href="{% url 'home_list' %}?category=afar-accessories-men" class="hover:text-blue-500 cursor-pointer">Traditional Accessories</a>
                  </div>
              </div>
              <div class="dropdown-item relative group">
                  <a href="{% url 'home_list' %}?category=snn-men" class="hover:text-blue-500 cursor-pointer">SNNP</a>
                  <div class="submenu">
                      <a href="{% url 'home_list' %}?category=snn_clothing-men" class="hover:text-blue-500 cursor-pointer">Traditional Clothing</a>
                      <a href="{% url 'home_list' %}?category=snn_footwear-men" class="hover:text-blue-500 cursor-pointer">Traditional Footwear</a>
                      <a href="{% url 'home_list' %}?category=snn_accessories-men" class="hover:text-blue-500 cursor-pointer">Traditional Accessories</a>
                  </div>
              </div>
              <div class="dropdown-item relative group">
                  <a href="{% url 'home_list' %}?category=somali-men" class="hover:text-blue-500 cursor-pointer">Somali</a>
                  <div class="submenu">
                      <a href="{% url 'home_list' %}?category=somali-clothing-men" class="hover:text-blue-500 cursor-pointer">Traditional Clothing</a>
                      <a href="{% url 'home_list' %}?category=somali-footwear-men" class="hover:text-blue-500 cursor-pointer">Traditional Footwear</a>
                      <a href="{% url 'home_list' %}?category=somali-accessories-men" class="hover:text-blue-500 cursor-pointer">Traditional Accessories</a>
                  </div>
              </div>
              <div class="dropdown-item relative group">
                  <a href="{% url 'home_list' %}?category=gambella-men" class="hover:text-blue-500 cursor-pointer">Gambella</a>
                  <div class="submenu">
                      <a href="{% url 'home_list' %}?category=gambella-clothing-men" class="hover:text-blue-500 cursor-pointer">Traditional Clothing</a>
                      <a href="{% url 'home_list' %}?category=gambella-footwear-men" class="hover:text-blue-500 cursor-pointer">Traditional Footwear</a>
                      <a href="{% url 'home_list' %}?category=gambella-accessories-men" class="hover:text-blue-500 cursor-pointer">Traditional Accessories</a>
                  </div>
              </div>
              <div class="dropdown-item relative group">
                  <a href="{% url 'home_list' %}?category=harari-men" class="hover:text-blue-500 cursor-pointer">Harari</a>
                  <div class="submenu">
                      <a href="{% url 'home_list' %}?category=harari-clothing-men" class="hover:text-blue-500 cursor-pointer">Traditional Clothing</a>
                      <a href="{% url 'home_list' %}?category=harari-footwear-men" class="hover:text-blue-500 cursor-pointer">Traditional Footwear</a>
                      <a href="{% url 'home_list' %}?category=harari-accessories-men" class="hover:text-blue-500 cursor-pointer">Traditional Accessories</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>